<% include ./partials/header_projects %>

<div class="titlebar">
	<div class="project-title">
		<h1>Burger Builder</h1>
		<h4><em>My first React / Redux app. Create and order your burger.</em></h4>
	</div>
</div>


<div class="image-container">
	<img src="./img/burgerbuilder_devices.png">
</div>

<section class="project-description">
	<p>Burger Builder was made while following my first introduction course on React and Redux. It features a lot of the core functionality React brings, and I tried to implement as much of those features I had learned into this project.</p> 

	<p>
	For this webapp I have used the following dependencies:	
	</p>
	
	<ul class="dependencies">
		<li>React</li>
		<li>Redux</li>
		<li>Axios</li>
		<li>Firebase</li>
	</ul>

	<p>This project lives on Firebase.</p>
	<a href="https://react-burger-builder-90758.firebaseapp.com/">Link to Burgerbuilder</a>
</section>


<% include ./partials/footer %>