<% include ./partials/header_projects %>

<div class="titlebar">
	<div class="project-title">
		<h1>iConstruct MG</h1>
		<h4><em>A contractor company website</em></h4>
	</div>
</div>

<div class="image-container">
	<img src="./img/iconstruct_devices.png">
</div>

<section class="project-description">
	<p>This is a website build for a new contractor company setup by my brother. This is the first time I have been working for someone else, so it was a great practise to discus ideas and have some input from the outside. </p>

	<a href="http://www.iconstructmg.nl" target="_blank">Link to iConstruct MG</a>
</section>

<% include ./partials/footer %>