<% include ./partials/header %>

<div id="parallax-image"></div>
<section id="hero">	
	<div class="headshot">		
		<div class="round-image"></div>
		<h1>Joey ter Meulen</h1>
		<hr>
		<h2>Web Developer</h2>
		
	</div>
</section>

<section id="about">
	
	<p>Dutch junior web developer based in Stockholm, Sweden.</p>
	<p>Started with Python, found Javascript on the way - currently working on increasing front-end web development skills. Looking for
		learning opportunities and projects to support.</p>
	
</section>

<section id="portfolio">
	<div class="title">
		<h4>Projects I have been working on</h4>
		
		<hr>
	</div>
	<div class="showreel">
		<a class="project" id="project1" href="/burgerbuilder">
			<div class="overlay">
				<h3>Burger Builder</h3>
				<p>First project made with React</p>
				<ul>
					<li>React</li>
					<li>Redux</li>
				</ul>
			</div>
		</a>
		<a class="project" id="project2" href="/upnext">
			<div class="overlay">
				<h3>Up Next</h3>
				<p>A movie DB where you can make and share your to-watch list</p>
				<ul>
					<li>NodeJs</li>
					<li>MongoDB</li>
					<li>Express</li>
					<li>jQuery</li>
					<li>AJAX</li>
				</ul>
			</div>
		</a>
		<a class="project" id="project3" href="/mountaintravel">
			<div class="overlay">
				<h3>Mountain Travel</h3>
				<p>A small business website build to learn how to use Flexbox</p>
				<ul>
					<li>Flexbox</li>
					<li>Css styling</li>
				</ul>
			</div>
		</a>
		<a class="project" id="project4" href="/shoppingcard">
			<div class="overlay">
				<h3>Shoppingcard</h3>
				<p>A small grocerylist app. It's my first project for day to day use. </p>
				<ul>
					<li>NodeJs</li>
					<li>MongoDB</li>
					<li>Express</li>
					<li>Passport</li>
					<li>AJAX</li>
				</ul>
			</div>
		</a>				
		<a class="project" id="project5" href="#">
			<div class="overlay">
				<h3></h3>
				<p></p>
				<ul>
					
				</ul>
			</div>
		</a>
		<a class="project" id="project6" href="/otherwork">
			<div class="overlay">
				<h3>Other Work</h3>
				<p>Collection of some other non-WebDev projects I have done.</p>
				<ul>
					<li>Python script</li>
					<li>Pygame (small game)</li>
				</ul>
			</div>
		</a>
		
	</div>
</section>



<% include ./partials/footer %>