<% include ./partials/header_projects %>

<div class="titlebar">
	<div class="project-title">
		<h1>Mountain Travel</h1>
		<h4><em>A business website build with flexbox</em></h4>
	</div>
</div>

<div class="image-container">
	<img src="./img/mountaintravel_devices.png">
</div>

<section class="project-description">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<p>
	For this webapp I have used the following dependencies:	
	</p>

	<ul class="dependencies">
		<li>Flexbox</li>
		<li>Css Styling</li>
	</ul>

	<p>This project is made with Codepen.io</p>
	<a href="mountaintravel/example" target="_blank">Link to MountainTravel</a>
</section>

<% include ./partials/footer %>