<% include ./partials/header_projects %>

<div class="titlebar">
	<div class="project-title">
		<h1>Mountain Travel</h1>
		<h4><em>A business website build with flexbox</em></h4>
	</div>
</div>

<div class="image-container">
	<img src="./img/mountaintravel_devices.png">
</div>

<section class="project-description">
	<p>Instead of relying on frameworks like Bootstrap to scale or divide items on your webpage, I learned how to do this with pure CSS. I created this webpage after learning how to use Flexbox. This project was part of a course I followed, creating this page was the final excercise.</p>

	<p>I added some extra functionality like smooth scrolling, using Jquery.</p>

	<p>
	For this webapp I have used the following:	
	</p>

	<ul class="dependencies">
		<li>Flexbox</li>
		<li>Css Styling</li>
	</ul>

	<a href="mountaintravel/example" target="_blank">Link to Mountain Travel</a>
</section>

<% include ./partials/footer %>