<% include ./partials/header_projects %>

<div class="titlebar">
	<div class="project-title">
		<h1>Other Projects</h1>
		<h4><em>A small collection of other projects</em></h4>
	</div>
</div>

<section id="photo_copy">
	<div class="title">
		<h2>Sort Photos</h2>
		<h4>A python script to sort .jpg photos</h4>
		<hr>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
	<div id="copy_photo_image">
		<img src="./img/copy_photos.png">
		<p>This project can be found on my Github.</p>
		<a href="https://github.com/JtMeulen/sort_photos">Link to the GitHub repository</a>
	</div>
</section>

<section id="jetfighter">
	<div class="title">
		<h2>Jetfighter</h2>
		<h4>A small upgrade game made in python</h4>
		<hr>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
	<iframe width="600" height="315"
		src="https://www.youtube.com/embed/11Eowa-Okes">
	</iframe>
</section>


<% include ./partials/footer %>