<% include ./partials/header_projects %>

<div class="titlebar">
	<div class="project-title">
		<h1>Other Projects</h1>
		<h4><em>A small collection of other projects</em></h4>
	</div>
</div>

<section id="photo_copy">
	<div class="title">
		<h2>Sort Photos</h2>
		<h4>A python script to sort .jpg photos</h4>
		<hr>
	</div>
	<p>As I just started learning how to code, I picked Python as my first language. I had followed courses and tutorials on all kinds of subjects. This was a small project that I needed for myself. </p>
	<p>After every travel we had tons of pictures we wanted to sort, but as a new developer I felt this should be automated. So I made this script that automatically sorts all your photos (.jpg) and movies into separate day to day folders. </p>
		
	<div id="copy_photo_image">
		<img src="./img/copy_photos.png">
		<p>This project can be found on my Github.</p>
		<a href="https://github.com/JtMeulen/sort_photos">Link to the GitHub repository</a>
	</div>
</section>

<section id="jetfighter">
	<div class="title">
		<h2>Jetfighter</h2>
		<h4>A small upgrade game made in python</h4>
		<hr>
	</div>
	<p>Still trying to figure out what way to go in development, I tried my hand at game development. Knowing only Python I found a nice framework for this purpose, PyGame. I used a tutorial to set up the basics of a game, which turned out as a racegame where you can only go left and right and avoid obstacles.</p>

	<p>After the tutorials I went on to create more and more features into the game. The final product is a topdown shooter game with upgrade features. I felt that creating this game on my own gave me much better insight of programming in general, especially with Object Oriented Programming.</p>
		
	<iframe width="600" height="315"
		src="https://www.youtube.com/embed/11Eowa-Okes">
	</iframe>
</section>


<% include ./partials/footer %>