<% include ./partials/header_projects %>

<div class="titlebar">
	<div class="project-title">
		<h1>Up Next</h1>
		<h4><em>Your shareable movie and series watchlist</em></h4>
	</div>
</div>


<div class="image-container">
	<img src="./img/upnext_devices.png">
</div>

<section class="project-description">
	<p>After following some courses on asynchronous coding using AJAX, it was time to put my knowledge to the test. In previous courses I stumbled upon the <a target="_blank" href="http://www.omdbapi.com/">OMDB API</a>, a DB full of movie information, and wanted to use this in a future project. So, after following some courses on asynchronous coding using AJAX, I felt this was a good time to try out OMDB for myself.</p>

	<p>Up Next is a WebApp where you search for your favorite movies or series and place your results in a watch-list. After you log in, you can create as many lists as you'd like. This single page app uses AJAX to make the api requests, so the page never has to reload. </p>

	<p>This WebApp is still under construction. In the future I want the users to be able to share their lists with each other.</p>
	
	<p>
	For this webapp I have used the following dependencies:	
	</p>
	
	<ul class="dependencies">
		<li>NodeJs</li>
		<li>Express</li>
		<li>MongoDB</li>
		<li>Passport</li>
		<li>Jquery</li>
		<li>AJAX</li>
	</ul>

	<p>This project lives on Heroku and is connected to MongoDB.</p>
	<a target="_blank" href="https://upnextmoviedb.herokuapp.com/">Link to Upnext</a>
</section>


<% include ./partials/footer %>