/* General styles */
body, html {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

section:not(#hero) {
	padding: 30px 0 100px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

section:nth-of-type(odd){
	background-color: #f2f2f2;
}

.title {
	flex-basis: 600px;
	margin-bottom: 30px;
}

.title h2, .title h4, .title hr {
	text-align: center;
}

.title h2 {
	font-size: 2.5em;
}

.title h4 {
	font-style: italic;
	font-size: 1.3em;
}

.title hr {
	border: 1px solid grey;
}

a {
    text-decoration: none;
}

/* Header styles*/
header {	
	display: flex;
	position: absolute;
	z-index: 1;
	justify-content: space-between;
	align-items: center;
	width: 98vw;
	color: white;
	
}

#headerIndex {
	opacity: 0;
	animation: 3s 1s headerFadeIn linear forwards;
}

header h2 {
	padding-left: 50px;
}

#nav {
	padding-right: 50px
}


#nav a {
	padding-left: 30px;
	color: white;
}


/* Hero Styles*/
#hero {
	position: relative;
	top: 0;
	left: 0;
	background-image: url(../img/background.jpg);
	background-size: cover;
	height: 700px;
	display: flex;	
	justify-content: center;
	align-items: center;
}

.round-image {
	background-image: url(../img/joey.png);
	transform: scale(0.7);
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-size: cover;
	filter: none;
	opacity: 0;
	animation: 0.6s roundImageFadeIn 0.3s ease-in forwards;
}

#hero h1, #hero h2, #hero a{
	color: white;
	text-align: center;
	text-shadow: -2px -2px 0 black,  
      			  2px -2px 0 black,
      			 -2px 2px 0 black,
       			  2px 2px 0 black;
}

#hero ul {
	display: flex;
	font-size: 35px;
	width: 125px;
	padding: 0;
	margin: 0 auto;
	justify-content: space-between;
	list-style: none;
}

#hero h1 {
	opacity: 0;
	transform: translateY(20px);
	animation: 0.4s slideUp 2.2s linear forwards;
}

#hero h2 {
	opacity: 0;
	transform: translateY(-20px);
	animation: 0.4s slideDown 2.2s linear forwards;
	font-size: 18px;
	padding: 10px;
}

#hero hr {
	transform: scaleX(0);
	animation: 1s hrExpand 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

#hero li {
	transform: scale(0);
}
#hero i {
	transition: all 0.15s 0.05s linear;
}

#hero i:hover {
	transform: scale(1.3);
}

#hero li:nth-of-type(1){animation: 0.6s iconPopup 3s cubic-bezier(0.175, 0.885, 0.32, 1.6) forwards;}
#hero li:nth-of-type(2){animation: 0.6s iconPopup 3.3s cubic-bezier(0.175, 0.885, 0.32, 1.6) forwards;}
#hero li:nth-of-type(3){animation: 0.6s iconPopup 3.6s cubic-bezier(0.175, 0.885, 0.32, 1.6) forwards;}

/* About me styles*/
#about p {
	padding: 0 10%;
}


/* Portfolio Styles */
.showreel {
	margin-top: 25px;
	width: 75vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project {	
	display:block;
	position: relative;
	background-color: #474c54;	
	border-radius: 5px;
	flex-basis: 350px;
	height: 200px;
	margin: 20px;
	background-size: cover;
	background-position: center top;
	transition: all .3s .1s ease-in;
}

.overlay {
	opacity: 0;
	background-color: #474c54;	
	border-radius: 5px;
	color: white;
	text-align: center;
	flex-basis: 350px;
	height: 200px;
	transition: all .3s .1s ease-in;
}

.overlay h3 {
	margin-top: 0;
	padding-top: 10px;
}

.project:hover .overlay {
	opacity: 0.8;
	cursor: pointer;
}
/* Showreel thumbnail images*/
#project1{background-image: url(../img/shoppingcard_thumb.png);}
#project2{background-image: url(../img/mountaintravel_thumb.png);}
#project3{display: none;}
#project4{display: none;}
#project5{display: none;}
#project6{display: none;}

footer {
	height: 250px;
	background-color: #242526;
}

/**** Animation Keyframes ****/
/* Hero animations */
@keyframes roundImageFadeIn {
	100% {opacity: 1; transform: scale(1);}
}

@keyframes hrExpand {
	100% {transform: scaleX(1);}
}

@keyframes slideDown {
	/*25% {opacity: 1;}*/
	100% {transform: translateY(0); opacity: 1;}
}

@keyframes slideUp {
	/*25% {opacity: 1;}*/
	100% {transform: translateY(0); opacity: 1;}
}

@keyframes iconPopup {
	100% {transform: scale(1);}
}

@keyframes headerFadeIn {
	100% {opacity: 1}
}

/**** Screen breakpoint styles ****/
/* Mobile */
@media screen and (max-width: 450px){
	#hero {
		height: 100vh;
		background-position: 50%;
	}
}

/* Tablet*/
@media screen and (max-width: 800px){
	.project, .overlay {	
	height: 160px;
	flex-basis: 300px;
	font-size: 0.85em; 
	}

	.showreel {
		width: 90vw;
	}

	#headerIndex {
		display: none;
	}
}
