section:nth-of-type(odd){
	background-color: white;
}

section:nth-of-type(even){
	background-color: #f2f2f2;
}

#headerProjects a {
	color: white;
}

.titlebar {
	position: relative;
	height: 220px;
	background-color: #242526;
	z-index: -1;
}

.titlebar h1, .titlebar h4 {
	color: white;
	margin-top:0;
	padding-left: 50px;
}

.titlebar h1 {
	padding-top: 120px;
	margin-bottom: 10px;
	font-size: 40px;
}

.image-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.image-container img {
	width:80%;
	height: 80%;
}

/* information section*/
.project-description {
	flex-direction: column;
	padding-bottom: 20px;
}

section p, section ul, section a {	
	font-size: 18px;
	padding: 0 10%;
}

section p a {
	padding: 0;
}

section a:visited, section a:link {
	color: #4f72ad;
	font-weight: bold;
}

section a:hover, section a:active {
	color: #1e3a68;
	font-weight: bold;
}

.project-description li {
	list-style: none;
	font-style: italic;
}

.dependencies {
	margin-top: 0;
}

/* other projects pages*/
iframe {
	margin: 10px 30px;
}

#copy_photo_image {
	text-align: center;
	padding-top: 40px;
	flex-direction: column;
	display: flex;
	align-items: center;
	width: 80vw;
}

/**** Screen breakpoint styles ****/
/* Mobile */
@media screen and (max-width: 450px){

	#headerProjects h2 {
		padding-left: 20px;
	}

	.titlebar h1, .titlebar h4 {
		padding-left: 20px;
	}

	iframe {
		width: 80%;
		height: 200px;
	}

	#copy_photo_image {
	text-align: center;
	padding-top: 10px;
}

@media (min-width: 550px) and (max-height: 400px) {
    #hero {
    	justify-content: center;
		align-items: flex-start;
    }

    .round-image {
		background-image: url(../img/joey.png);
		transform: scale(0.7);
		width: 200px;
		height: 200px;
		margin-top: 10px;
	}

	#about p {
		padding: 36px;
	}
	
	#headerProjects h2 {
		padding-left: 20px;
	}

	.titlebar h1, .titlebar h4 {
		padding-left: 20px;
	}

	iframe {
		width: 80%;
		height: 200px;
	}

	#copy_photo_image {
	text-align: center;
	padding-top: 10px;
	}

/* Tablet*/
@media screen and (max-width: 800px){
	#headerProjects #nav {
		display: none;
	}

	#copy_photo_image {
		display: block;
	}

	#copy_photo_image img {
		width: 100%;
	}
}